* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 21cm;
    height: 29.7cm;
    padding: 25mm 20mm 20mm 25mm;
    font-family: "Calibri", sans-serif;
    font-size: 12pt;
}

/********** screen page setup **********/

@media screen {
    html {
        background-color: lightgray;
    }

    body {
        margin: 2cm auto;
        background-color: white;
        box-shadow: 0 1cm 2cm gray;
    }
}

/********** print page setup **********/

@page {
    size: A4 portrait;
    margin: 0;
}

/********** page elements **********/

/*header {
    display: flex;
    flex-direction: column; if infoblock not float, but flexbox is strange too
}*/

header::after {
    content: "";
    display: block;
    clear: both;
}

address.sender {
    /* NOTE:
    actual size of both adress fields combined is 90mm x 45mm,
    but positioning it correctly and adding padding-left: 5mm; would result
    in focus-explanations being positioned wrong. */
    position: absolute;
    top: 27mm;
    width: 80mm;
    height: 5mm;
    line-height: 5mm;
    font-size: 0.7em;
    font-style: normal;
}

address.recipient {
    position: absolute;
    top: calc(27mm + 5mm);
    width: 80mm;
    height: 40mm;
    font-style: normal;
}

aside {
    max-width: 75mm;
    min-width: 20mm;
    min-height: 40mm;
    margin-top: 7mm; /* 32mm - 25mm */
    margin-right: -10mm;
    /*align-self: flex-end;*/ /* if infoblock not float, but flexbox is strange too */
    float: right;
}

section.date {
    position: relative; /* for explanation to be correctly positioned */
    text-align: right;
    margin: 0.67em 0;
}

h1 {
    font-size: inherit;
    color: gray;
}

section.attachments h2 {
    margin-bottom: 0;
    font-size: 1em;
}

section.attachments ul {
    list-style: none;
    margin: 0;
    margin-left: 0.5em;
    padding: 0;
}

/********** folding marks and punching-holes center-mark **********/

.mark-paper-center {
    position: absolute;
    top: calc(29.7cm / 2 - 0.5pt);
    left: 0;
    width: 8mm;
    height: 1pt;
    background-color: gray;
}

.mark-paper-folds {
    position: absolute;
    top: 87mm;
    left: 0;
    width: 8mm;
    height: 105mm;
    border-top: 1pt solid gray;
    border-bottom: 1pt solid gray;
}

/********** helper classes **********/

.hidden {
    display: none;
}

/********** switchable highlight editable fields **********/

@media screen {
    /* add .highlight-editable to body to highlight all editable fields */
    body.highlight-editable [contenteditable=true] {
        background-color: lightyellow;
    }
}

/********** highlight focused field **********/

body [contenteditable=true]:focus {
    --focus-highlight-color: lightgray;
    background-color: var(--focus-highlight-color);
    outline: 1px solid lime;
}

/********** field explanation on focused fields **********/

[contenteditable=true][field-explanation]:focus::before {
    position: absolute;
    transform: translateX(-100%);
    padding: 0 6px;
    background-color: var(--focus-highlight-color);
    color: black;
    content: attr(field-explanation);
    font-style: normal;
    font-weight: normal;
    /*text-transform: uppercase;*/
    --separation-border: 1px solid gray;
    border-right: var(--separation-border);
}

[contenteditable=true][field-explanation].explanation-right:focus::before {
    right: 0;
    transform: translateX(100%);
    border-right: none;
    border-left: var(--separation-border);
}

[contenteditable=true][field-explanation].rotate-explanation:focus::before {
    transform: rotate(90deg);
    transform-origin: left top 0;
    border-right: none;
    border-top: var(--separation-border);
}
